In [12]:
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_csv('.\..\Arsenal_Sentiment_Analysis\All_Tweets_Arsenal.csv')

In [6]:
from wordcloud import WordCloud

In [7]:
df.head()

,Date,Username,Tweet,TweetLikes,TweetReplies,RetweetCount,Positive
0,2022-04-13 13:35:44+00:00,Anonymous186164,@dustsorcerer 1. Combat Warriors\n2. Black Mag...,0,0,0,False
1,2022-04-13 13:35:43+00:00,Anonymous90859,@El_Mozquetero So you want arsenal to be losin...,0,0,0,False
2,2022-04-13 13:35:42+00:00,Anonymous209962,"Letras que dibujan sonrisas, que llenan el alm...",0,0,0,False
3,2022-04-13 13:35:42+00:00,Anonymous334676,@arse_talk @El_Mozquetero I don't think an Ars...,0,0,0,False
4,2022-04-13 13:35:36+00:00,Anonymous272092,@bubblecheebutt Je vais pas relever le connard...,0,0,0,False

In [8]:
text = df.Tweet[0]

In [11]:
wordcloud = WordCloud().generate(text)

In [ ]:
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()